mixin displayNavTabs(activeTabId)
  ul.nav.nav-tabs
    - var tabs = ['Home', 'Projects', 'News', 'Medium', 'Flickr', 'Contact'];
    - var hrefs = ['/', '/projects', '/news', 'https://medium.com/@JeffreyFJ', 'http://www.flickr.com/photos/85974678@N07/', '/contact'];
    - for (var i = 0; i < tabs.length; ++i) {
      - if (i == activeTabId) {
        li.active
          a(href='#{hrefs[i]}') #{tabs[i]}
      - }
      - else {
        li
          a(href='#{hrefs[i]}') #{tabs[i]}
      - }
    - }

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.row
        div.span1
        div.span10
          div.page-header
            h1
              | Jeff Jia 
              small
                | A passionate generalist
      div.row
        div.span1
        div.span10
          div.tabbable.tabs-right
            mixin displayNavTabs(activeTabId)
            div.tab-content
              block content
        div.span1
    div.container
      div.row
        div.span1
        div.span10
          div.footer
            p.text-left Copyright 2013. Jeff Jia / jeffjia.com
        div.span1

